<mat-toolbar color="primary">
  <span class="title">{{title}}</span>
  <button class="option" mat-icon-button style="margin-left: 40px;" (click)="sidenav.toggle()">
   <mat-icon>menu</mat-icon>
 </button>
 <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-content">
  <mat-sidenav #sidenav [mode]="'over'" class="sidenav">

    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let option of menuOptions" [value]="option" [routerLink]="[option.routerLink]">
        <div>
          <mat-icon class="menu-icon">{{option.icon}}</mat-icon>
          {{option.name}}
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>





